In [ ]:

Compute the euclidean distance between series (points) p and q, without using a packaged formula.
Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
Question 2 (15 Points)
Change the order of columns of a dataframe. Interchange columns 'a' and 'c'.
Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
Question 3 (15 Points)
Change the order of columns of a dataframe. Create a generic function to interchange two columns, without
hardcoding column names.
Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
Question 4 (15 Points)
Format or suppress scientific notations in a pandas dataframe. Suppress scientific notations like ‘e-03’ in df and
print upto 4 numbers after decimal.
Input
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df
#> random
#> 0 3.474280e-03
#> 1 3.951517e-05
#> 2 7.469702e-02
#> 3 5.541282e-28
Desired Output
#> random
#> 0 0.0035
#> 1 0.0000
#> 2 0.0747
#> 3 0.0000
Question 5 (15 Points)
Create a new column that contains the row number of nearest column by euclidean distance. Create a new column
such that, each row contains the row number of nearest row-record by euclidean distance.
Input
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1),
columns=list('pqrs'), index=list('abcdefghij'))
df
# p q r s
# a 57 77 13 62
# b 68 5 92 24
# c 74 40 18 37
# d 80 17 39 60
# e 93 48 85 33
# f 69 55 8 11
# g 39 23 88 53
# h 63 28 25 61
# i 18 4 73 7
# j 79 12 45 34
Desired Output
df
# p q r s nearest_row dist
# a 57 77 13 62 i 116.0
# b 68 5 92 24 a 114.0
# c 74 40 18 37 i 91.0
# d 80 17 39 60 i 89.0
# e 93 48 85 33 i 92.0
# f 69 55 8 11 g 100.0
# g 39 23 88 53 f 100.0
# h 63 28 25 61 i 88.0
# i 18 4 73 7 a 116.0
# j 79 12 45 34 a 81.0
Question 6 (15 Points)
Correlation is a statistical technique that shows how two variables are related. Pandas dataframe.corr() method is
used for creating the correlation matrix. It is used to find the pairwise correlation of all columns in the dataframe.
Any na values are automatically excluded. For any non-numeric data type columns in the dataframe it is ignored.
Input
data = {'A': [45, 37, 0, 42, 50],
'B': [38, 31, 1, 26, 90],
'C': [10, 15, -10, 17, 100],
'D': [60, 99, 15, 23, 56],
'E': [76, 98, -0.03, 78, 90]
}

In [1]:
import pandas as pd
import numpy as np

In [2]:
#question 1 - Compute the euclidean distance between series (points) p and q, without using a packaged formula.

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

#euclidean equation = sqrt(p1-q1)^2 + (p2-q2)^2 +....

difference = p-q

Squared = difference ** 2

sum_squared = Squared.sum()

euclidean_distance = np.sqrt(sum_squared)
print(euclidean_distance)

18.16590212458495

In [3]:
#Question 2 - Change the order of columns of a dataframe. Interchange columns 'a' and 'c'.

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [4]:
#interchange 'a' and 'c'
df = df[['c', 'b', 'a', 'd', 'e']]
df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [5]:
# Question 3 - Change the order of columns of a dataframe. Create a generic function to interchange two columns, without hardcoding column names.

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

def interchange_columns(dataframe, col1, col2):
    if col1 in dataframe.columns and col2 in dataframe.columns:
        cols = list(dataframe.columns)
        col1_index, col2_index = cols.index(col1), cols.index(col2)
        cols[col1_index], cols[col2_index] = cols[col2_index], cols[col1_index]
        return dataframe[cols]
    else:
        raise ValueError("One or both of the specified columns do not exist in the DataFrame.")

df_modified = interchange_columns(df, 'a', 'c')

print(df_modified)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [6]:
#Question 4 - Format or suppress scientific notations in a pandas dataframe. Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

#> random
#> 0 3.474280e-03
#> 1 3.951517e-05
#> 2 7.469702e-02
#> 3 5.541282e-28
# Desired Output
# #> random
# #> 0 0.0035
# #> 1 0.0000
# #> 2 0.0747
# #> 3 0.0000

pd.set_option('display.float_format', '{:.4f}'.format)
df

   random
0  0.0019
1  0.9652
2  0.0314
3  0.0026

In [7]:
#Question 5 - Create a new column that contains the row number of nearest column by euclidean distance. Create a new column
#such that, each row contains the row number of nearest row-record by euclidean distance.

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1),
columns=list('pqrs'), index=list('abcdefghij'))
df

# p q r s
# a 57 77 13 62
# b 68 5 92 24
# c 74 40 18 37
# d 80 17 39 60
# e 93 48 85 33
# f 69 55 8 11
# g 39 23 88 53
# h 63 28 25 61
# i 18 4 73 7
# j 79 12 45 34
# Desired Output
# df
# p q r s nearest_row dist
# a 57 77 13 62 i 116.0
# b 68 5 92 24 a 114.0
# c 74 40 18 37 i 91.0
# d 80 17 39 60 i 89.0
# e 93 48 85 33 i 92.0
# f 69 55 8 11 g 100.0
# g 39 23 88 53 f 100.0
# h 63 28 25 61 i 88.0
# i 18 4 73 7 a 116.0
# j 79 12 45 34 a 81.0

df['nearest_row'] = None
df['dist'] = None

def euclidean_distance(row1, row2):
    return np.sqrt(np.sum((row1 - row2) ** 2))

for idx, row in df.iterrows():
    distances = {}
    for other_idx, other_row in df.iterrows():
        if idx != other_idx:  # Skip the same row
            distance = euclidean_distance(row, other_row)
            distances[other_idx] = distance
            
    nearest_idx = min(distances, key=distances.get)  # Get the index of the nearest row
    nearest_distance = distances[nearest_idx]  # Get the corresponding distance

    df.at[idx, 'nearest_row'] = nearest_idx
    df.at[idx, 'dist'] = nearest_distance
df

    p   q   r   s nearest_row    dist
a  87  47  40  71           g 42.0357
b  29  65  89   8           j 67.0373
c  85  17  71   6           j 60.7454
d  42  54  64  91           f 10.8628
e  13  49  19   3           j 57.6108
f  50  56  69  96           d 10.8628
g  94  82  53  89           a 42.0357
h  49  44  80  87           f 18.6279
i  48  32  25  72           j 36.3593
j  48  35  42  40           i 36.3593

In [8]:
#Question 6 - Correlation is a statistical technique that shows how two variables are related. Pandas dataframe.corr() method is
#used for creating the correlation matrix. It is used to find the pairwise correlation of all columns in the dataframe.
#Any na values are automatically excluded. For any non-numeric data type columns in the dataframe it is ignored.

data = {'A': [45, 37, 0, 42, 50],
'B': [38, 31, 1, 26, 90],
'C': [10, 15, -10, 17, 100],
'D': [60, 99, 15, 23, 56],
'E': [76, 98, -0.03, 78, 90]
}

df = pd.DataFrame(data)

correlation_matrix = df.corr()

print(correlation_matrix)

       A      B      C      D      E
A 1.0000 0.7560 0.6244 0.4938 0.9286
B 0.7560 1.0000 0.9667 0.3636 0.6496
C 0.6244 0.9667 1.0000 0.2189 0.5281
D 0.4938 0.3636 0.2189 1.0000 0.7202
E 0.9286 0.6496 0.5281 0.7202 1.0000